# This is a comment in the .gitignore file
# Ignore node_modules directory

configs/*
!configs/sample.json
*.pyc
__pycache__/
venv
.env
keys
.pytest_cache
.pypirc
dist
pdnd_python_client.egg-info
pdnd_python_client.egg-info/*
build
*.egg-info
*.log